body {
  background-color: black;
  border-color: white;
  text-align: center;
}
p {
  color: white;
}
button {
  font-size: 24px;
}
input {
  font-size: 24px;
  text-align: right;
}
.calculator {
  flex-direction: column;
}
.input {
  position: relative;
  justify-content: center;
}
.buttons {
  display: grid;
  margin: auto;
  width: 300px;
  grid-template-columns: repeat(4, 1fr);
}
.history {
  font-size: 12px;
  margin: 0;
}